## Deliverable 3. Create a Travel Itinerary Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [18]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(os.path.join("..","Vacation_Search","WeatherPy_vacation.csv"))
vacation_df.dropna()
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hilo,US,69.53,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,5,Aksu,CN,76.42,few clouds,41.1231,80.2644,Pudong Holiday Hotel
2,6,Sassandra,CI,87.64,overcast clouds,4.9500,-6.0833,la terrasse
3,7,Hithadhoo,MV,83.62,broken clouds,-0.6000,73.0833,Scoop Guest House
4,9,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,Paradise Inn
5,10,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
6,12,Venice,US,70.99,broken clouds,27.0998,-82.4543,A Beach Retreat On Casey Key
7,13,Kavieng,PG,77.92,moderate rain,-2.5744,150.7967,Nusa Island Retreat
8,14,Jalu,LY,80.46,clear sky,29.0331,21.5482,صاحبة الفخامة
9,16,Serowe,BW,74.05,broken clouds,-22.3833,26.7167,Hill View Inn

In [19]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
    <dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
    </dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [20]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,  info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Saldanha"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saldanha"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Springbok"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Potchefstroom"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hermanus"]

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,89,Saldanha,ZA,78.85,clear sky,-33.0117,17.9442,Blue Bay Lodge
1,463,Springbok,ZA,76.50,clear sky,-29.6643,17.8865,Undulata Country Lodge
2,449,Potchefstroom,ZA,70.02,light rain,-26.7167,27.1000,Melrose Place Guestrooms
3,34,Hermanus,ZA,66.79,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
    <dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
    </dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,  info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))